<div class="container">
    <div class="sign-up-page">
        <div class="section-title">Let's start with some basics:</div>
        <div *ngIf="!basicInfoForm">select type
            <div>Thanks for joining us! Select your background to get started.</div>
            <div>I am new to this community!</div>
            <div (click)="assignUserType('guru')">Help me get connected</div>
            <div>I've been here for a while. I'd like to support newcomers!</div>
            <div (click)="assignUserType('guru')">Show me how</div>

        </div>
        <form *ngIf="basicInfoForm" id="basic-info-form" [formGroup]="basicInfoForm" (ngSubmit)="signUp()">
            <div class="form-group">
                <input type="text" id="first_name" name="first_name" placeholder="First name*" class="form-control" formControlName="first_name"/>
                <control-messages [control]="basicInfoForm.controls.first_name"></control-messages>
            </div>
            <div class="form-group">
                <input type="text" id="last_name" name="last_name" placeholder="Last name*" class="form-control" formControlName="last_name"/>
                <control-messages [control]="basicInfoForm.controls.last_name"></control-messages>
            </div>
            <div class="form-group">
                <input type="text" id="email" name="email" placeholder="Email address*" class="form-control" formControlName="email" />
                <control-messages [control]="basicInfoForm.controls.email"></control-messages>
            </div>
            <div class="form-group">
                <input type="text"  id="telephone" name="telephone" placeholder="Phone number" class="form-control" formControlName="telephone"/>
            </div>
            <div class="form-group">
                <input type="text"  id="zipcode" name="zipcode" placeholder="Home zipcode*" class="form-control" formControlName="zipcode"/>
                <control-messages [control]="basicInfoForm.controls.zipcode"></control-messages>
            </div>
            <div class="form-group">
                <input type="password"  id="password" name="password" placeholder="Create password*" class="form-control" formControlName="password"/>
                <control-messages [control]="basicInfoForm.controls.password"></control-messages>
            </div>
            <input type="submit" class="navigation-button" value="Next"/>
        </form>
    </div>
</div>
