<div class="container">
    <div class="sign-up-page">
        <div class="section-title">Sign Up</div>
        <form id="signup-form" [formGroup]="signUpForm" (ngSubmit)="signUp()">
            <div class="error-message" *ngIf="signupError">{{signupError}}</div>
            <div class="form-group">
                <input type="text" id="email" name="email" placeholder="Email address*" class="form-control" formControlName="email" (blur)="checkUserName()" />
                <control-messages [control]="signUpForm.controls.email"></control-messages>
            </div>
            <div class="form-group">
                <input type="text" id="name" name="name" placeholder="Full name*" class="form-control" formControlName="name"/>
                <control-messages [control]="signUpForm.controls.name"></control-messages>
            </div>
            <div class="form-group">
                <input type="text"  id="telephone" name="telephone" placeholder="Phone number" class="form-control" formControlName="telephone"/>
            </div>
            <div class="form-group">
                <input type="password"  id="password" name="password" placeholder="Password*" class="form-control" formControlName="password"/>
                <control-messages [control]="signUpForm.controls.password"></control-messages>
            </div>
            <div class="form-group">
                <input type="password" id="password-confirmation" name="password-confirmation" placeholder="Password confirmation*" class="form-control" formControlName="password-confirmation" />
                <control-messages [control]="signUpForm.controls['password-confirmation']"></control-messages>
                <div class="error-message" *ngIf="signUpForm.hasError('mismatchedPasswords')">Passwords do not match</div>
            </div>
            <input type="submit" class="navigation-button" value="Sign Up" [disabled]="!signUpForm.valid"/>
        </form>
    </div>
</div>
