<div class="my-app">
<main>
    <router-outlet></router-outlet>
</main>
</div>
<nav>
    <a [routerLink]=" [''] "
       routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Home
    </a>
    <a [routerLink]=" ['./register'] "
       routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Search
    </a>
    <a [routerLink]=" ['./login'] "
       routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        My Profile
    </a>
</nav>
<footer>
</footer>