<div class="header">
    <div *ngIf="user">
        <img src="./../assets/icon/crisscross_logo.png">
        <b>CrissCross</b>
    </div>
    <div *ngIf="!user" class="public">
        <img src="./../assets/icon/crisscross_logo.png">
        <b>CrissCross</b>
    </div>
</div>

<div class="router-content">
    <main>
        <router-outlet></router-outlet>
    </main>
</div>

<nav *ngIf="user">
    <a [routerLink]=" ['./home'] "
       routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Home
    </a>
    <a [routerLink]=" ['./register'] "
       routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Search
    </a>
    <a [routerLink]=" ['./login'] "
       routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        My Profile
    </a>
</nav>

<footer>
</footer>